# Domaine principal en production
lougar.fr {
    # Répertoire racine pour les fichiers
    root * /var/www/html

    # Traitement PHP via PHP-FPM
    php_fastcgi php-fpm:9000

    # Activer la compression des fichiers
    encode gzip

    # Activer le serveur de fichiers statiques
    file_server

    # Redirection des requêtes HTTP vers HTTPS
    @http {
        protocol http
    }
    redir @http https://{host}{uri}
}