
<!-- Customer Menu -->
<div class="col-lg-3 theiaStickySidebar">
    <div class="settings-widget">
        <div class="settings-header">
            <h6>{{ app.user.firstName }} {{ app.user.lastName }}</h6>
            <p>Member Since Sep 2021</p>
        </div>
        <div class="settings-menu">
            <ul>
                <li>
                    <a href="{{ path('tenant_dashboard') }}" {% if app.request.attributes.get('_route') == 'tenant_dashboard' %}class="active"{% endif %}>
                        <i class="feather-grid"></i> <span>Tableau de bord</span>
                    </a>
                </li>
                <li>
                    <a href="customer-booking.html">
                        <i class="feather-smartphone"></i> <span>Réservation</span>
                    </a>
                </li>
                <li>
                    <a href="provider-payout.html"><i class="feather-credit-card"></i> <span>Paiement</span></a>
                </li>
                <li>
                    <a href="customer-reviews.html">
                        <i class="feather-star"></i> <span>Avis</span>
                    </a>
                </li>
                <li>
                    <a href="customer-chat.html">
                        <i class="feather-message-circle"></i> <span>Chat</span>
                    </a>
                </li>
                <li>
                    <a href="{{ path('app_logout') }}">
                        <i class="feather-log-out"></i> <span>Déconnexion</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- /Customer Menu -->