<!-- Availability Days -->
<div class="availability-sec">
    <div class="row">
        <div class="col-lg-10 mx-auto">
            <div class="row">
                <div class="col-md-6">

                    <div class="form-group">
                        <div class="book-title">
                            <label class="col-form-label required">Date de début*</label>
                            <div id="datetimepickershow_start"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">

                    <div class="form-group">
                        <div class="book-title">
                            <label class="col-form-label required">Date de fin (facultative)</label>
                            <div id="datetimepickershow_end"></div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="col-sm-6">
                    <h6>Lundi</h6>
                </div>
                <div class="col-md-12">
                    <div class="day-info">
                        <div class="row day-cont">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-form-label">De</label>
                                    <div class='form-icon'>
                                        <input type='text' class="form-control timepicker"  placeholder="Choisir l'heure">
                                        <span class="cus-icon"><i class="feather-clock"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-form-label">Jusqu'a</label>
                                    <div class='form-icon'>
                                        <input type='text' class="form-control timepicker"  placeholder="Choisir l'heure">
                                        <span class="cus-icon"><i class="feather-clock"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <a href="#" class="add-text add-day"><i class="feather-plus-circle"></i>Ajouter une plage d'horaires</a>
                    </div>
                </div>
                <hr>
                <div class="col-sm-6">
                    <h6>Mardi</h6>
                </div>
                <div class="col-md-12">
                    <div class="day-info">
                        <div class="row day-cont">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-form-label">De</label>
                                    <div class='form-icon'>
                                        <input type='text' class="form-control timepicker"  placeholder="Select Time">
                                        <span class="cus-icon"><i class="feather-clock"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-form-label">Jusqu'a</label>
                                    <div class='form-icon'>
                                        <input type='text' class="form-control timepicker"  placeholder="Select Time">
                                        <span class="cus-icon"><i class="feather-clock"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <a href="#" class="add-text add-day"><i class="feather-plus-circle"></i> Add Hours</a>
                    </div>
                </div>
                <hr>
                <div class="col-sm-6">
                    <h6>Mercredi</h6>
                </div>
                <div class="col-md-12">
                    <div class="day-info">
                        <div class="row day-cont">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-form-label">From</label>
                                    <div class='form-icon'>
                                        <input type='text' class="form-control timepicker"  placeholder="Select Time">
                                        <span class="cus-icon"><i class="feather-clock"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-form-label">To</label>
                                    <div class='form-icon'>
                                        <input type='text' class="form-control timepicker"  placeholder="Select Time">
                                        <span class="cus-icon"><i class="feather-clock"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <a href="#" class="add-text add-day"><i class="feather-plus-circle"></i> Add Hours</a>
                    </div>
                </div>
                <hr>
                <div class="col-sm-6">
                    <h6>Jeudi</h6>
                </div>
                <div class="col-md-12">
                    <div class="day-info">
                        <div class="row day-cont">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-form-label">From</label>
                                    <div class='form-icon'>
                                        <input type='text' class="form-control timepicker"  placeholder="Select Time">
                                        <span class="cus-icon"><i class="feather-clock"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-form-label">To</label>
                                    <div class='form-icon'>
                                        <input type='text' class="form-control timepicker"  placeholder="Select Time">
                                        <span class="cus-icon"><i class="feather-clock"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <a href="#" class="add-text add-day"><i class="feather-plus-circle"></i> Add Hours</a>
                    </div>
                </div>
                <hr>
                <div class="col-sm-6">
                    <h6>Vendredi</h6>
                </div>
                <div class="col-md-12">
                    <div class="day-info">
                        <div class="row day-cont">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-form-label">From</label>
                                    <div class='form-icon'>
                                        <input type='text' class="form-control timepicker"  placeholder="Select Time">
                                        <span class="cus-icon"><i class="feather-clock"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-form-label">To</label>
                                    <div class='form-icon'>
                                        <input type='text' class="form-control timepicker"  placeholder="Select Time">
                                        <span class="cus-icon"><i class="feather-clock"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <a href="#" class="add-text add-day"><i class="feather-plus-circle"></i> Add Hours</a>
                    </div>
                </div>
                <hr>
                <div class="col-sm-6">
                    <h6>Samedi</h6>
                </div>
                <div class="col-md-12">
                    <div class="day-info">
                        <div class="row day-cont">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-form-label">From</label>
                                    <div class='form-icon'>
                                        <input type='text' class="form-control timepicker"  placeholder="Select Time">
                                        <span class="cus-icon"><i class="feather-clock"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-form-label">To</label>
                                    <div class='form-icon'>
                                        <input type='text' class="form-control timepicker"  placeholder="Select Time">
                                        <span class="cus-icon"><i class="feather-clock"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <a href="#" class="add-text add-day"><i class="feather-plus-circle"></i> Add Hours</a>
                    </div>
                </div>
                <hr>
                <div class="col-sm-6">
                    <h6>Dimanche</h6>
                </div>
                <div class="col-md-12">
                    <div class="day-info">
                        <div class="row day-cont">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-form-label">From</label>
                                    <div class='form-icon'>
                                        <input type='text' class="form-control timepicker"  placeholder="Select Time">
                                        <span class="cus-icon"><i class="feather-clock"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-form-label">To</label>
                                    <div class='form-icon'>
                                        <input type='text' class="form-control timepicker"  placeholder="Select Time">
                                        <span class="cus-icon"><i class="feather-clock"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <a href="#" class="add-text add-day"><i class="feather-plus-circle"></i> Add Hours</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- /Availability Days -->